.cards {
  @apply pt-8 flex justify-evenly flex-wrap;
  transform-style: preserve-3d;
  perspective: 850px;
}

.cardItem {
  @apply rounded-lg p-2 pr-2 pl-4 relative m-6 cursor-pointer transition-all;
  width: 340px;
  height: 422.5px;
  background-color: rgba(24, 24, 27, 0.4);
  border: 1px solid #30363d;

  &:hover {
    box-shadow: 0 4px 10px rgba(24, 24, 27, 0.7);
    transform: translateZ(7.5px);
  }

  .sneakerImage {
    width: 100%;
    height: 43%;
    background: no-repeat center / cover;
  }

  h3 {
    @apply mt-8 mb-2;
  }

  p {
    @apply mb-10 font-mono text-gray-100 opacity-80;
    line-height: 1.2;
  }

  span {
    line-height: 1.2;
    @apply text-gray-400 text-lg;

    b {
      @apply text-white ml-2;
    }
  }

  svg {
    @apply w-9 h-9 rounded-md transition-opacity cursor-pointer p-2 hover:opacity-75;
  }
}